* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(237, 184, 11);
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 12px;
  padding-top: 12px;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: rgb(51, 51, 51);
  color: rgb(237, 184, 11);
}
.main-square {
  text-align: left;
  border: solid rgb(237, 184, 11);
  width: 530px;
  height: 300px;
  margin: auto;
  margin-top: 15em;
  border-radius: 50px;
  background: #edb80b;
  box-shadow: 20px 20px 60px #c79b09, -20px -20px 60px #ffd50d;
}
.main-square h1 {
  color: rgb(51, 51, 51);
  padding-top: 63px;
  padding-left: 47px;
  font-size: 60px;
  font-family: "Montserrat", sans-serif;
  line-height: 50px;
}
.main-square p {
  color: rgb(51, 51, 51);
  font-family: Georgia;
  padding-top: 34px;
  padding-left: 47px;
  font-size: 20px;
  font-weight: bold;
}
body img {
  width: 250px;
  height: 250px;
  object-fit: none;
  object-position: 54.5% 40%;
  margin-top: 24px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 30px;
  float: left;
}
.about-square {
  text-align: left;
  border: solid rgb(237, 184, 11);
  width: 60vw;
  min-width: 530px;
  max-width: 1200px;
  height: 500px;
  margin: auto;
  margin-top: 13em;
  border-radius: 50px;
  background: #edb80b;
  box-shadow: 20px 20px 60px #c79b09, -20px -20px 60px #ffd50d;
}
.about-square h2 {
  color: rgb(51, 51, 51);
  padding-top: 63px;
  padding-left: 47px;
  font-size: 60px;
  font-family: "Montserrat", sans-serif;
  line-height: 50px;
}
.about-square p {
  color: rgb(51, 51, 51);
  font-family: Georgia;
  padding-top: 34px;
  padding-left: 47px;
  padding-right: 47px;
  font-size: 20px;
  font-weight: bold;
}
.projects-square {
  text-align: left;
  border: solid rgb(237, 184, 11);
  width: 60vw;
  min-width: 530px;
  max-width: 1200px;
  height: 500px;
  margin: auto;
  margin-top: 13em;
  margin-bottom: 20%;
  border-radius: 50px;
  background: #edb80b;
  box-shadow: 20px 20px 60px #c79b09, -20px -20px 60px #ffd50d;
}
.projects-square h3 {
  color: rgb(51, 51, 51);
  padding-top: 63px;
  padding-left: 47px;
  font-size: 60px;
  font-family: "Montserrat", sans-serif;
  line-height: 50px;
}
